/* DISABLE SHORTS SUGGESTIONS */
/* small view */
ytd-mini-guide-renderer > #items [aria-label="Shorts"],
/* expanded view */
ytd-guide-renderer > #sections > :first-child > #items > :has(a[title="Shorts"]),
/* search */
ytd-item-section-renderer > #contents > :not(ytd-video-renderer),
/* remove all shorts suggestions */
ytd-video-renderer:has(> #dismissible > ytd-thumbnail > #thumbnail > #overlays > ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"]),
/* type */
yt-chip-cloud-chip-renderer:has(> yt-formatted-string[title="Shorts"])
{
    display: none !important;
}